# Служебные каталоги
_Reports/
_ErrorImage/

# Файл статуса прохождения теста
BuildStatus.log

# Файлы настроек
*.json

# Служебные файлы
*.os

# Перезаписываемые во время тестов файлы
Макеты/03/ВА_ИмпортExcel+Шаблон.xlsx
Макеты/02/ВА_КонтекстныйПересчетИсходный.xlsx

