# Служебные каталоги
_Reports/
_ErrorImage/

# Файл статуса прохождения теста
BuildStatus.log

# Файлы настроек
*.json

# Служебные файлы
*.os

# Перезаписываемые во время тестов файлы
Макеты/ВА_ИмпортExcel_Шаблон.xlsx


